.navbar {
  background-color: #222;
  padding: 1em 1.5em 1em 2em;
}

.container2 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 1em;
}

.item a {
  color: #FFF;
  text-decoration: none;
}

.item a:hover {
  color: #FFBB33;
}